.container-google, .container-search, .container-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;

}
.google {
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.search {
    width: 600px;
    height: 40px;
    padding-left: 20px;
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgba(90, 90, 90, 0.6);
    border: none;
    font-family: Arial;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.container-search, .container-buttons {
    margin-top: 0px;
}
.button, .lucky {
    margin-top: 25px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    font-family: Arial;
    font-size: 15px;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
.button:active, .lucky:active {
    background-color: black;
    color: rgb(245, 245, 245);
}